/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Montserrat:ital,wght@0,800;1,800&display=swap');

@import "tailwindcss";

@theme {
  --color-temporary-turqoise: #00B5DA;
  --color-temporary-turqoise2: #003B53;
  --font-montserrat: "Montserrat", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}