/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

@import "tailwindcss";

@theme {
  --color-temporary-turqoise: #00B5DA;
  --font-montserrat: "Montserrat", sans-serif;
}